<html>
<head>
	<title>Skrolla</title>
	
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">  
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>

<body style = "margin:auto; background-color:#F2F2F2;">
	<div class = "row ">
		<div class="span8 offset2" >
			<h4 style="color:#7D0552;">Skrolla <a style="text-decoration:none;" href="{{ url_for('landing') }}"><button class="btn btn-inverse btn-small pull-right"><i class="fa fa-fw fa-home"></i> Home</button></a></h4>
		</div>
	</div>

	<div class = "row ">
		<div class="span8 offset2">
			<p>Skrolla uses your phone's accelerometer to <a href="{{ url_for('view') }}nealshyam.com" title = "Skrolla Demo" target="_blank">scroll web pages up and down.</a> When you tip the phone towards you, it should scroll up and vice versa. The 'trigger zones' are illustrated below.</p>
			
			<p><img class ="" src="http://gam.s3.amazonaws.com/img/issue_6_fig_1.png"></p>
			
			<p>Send links to Skrolla for later reading using our <a href="https://chrome.google.com/webstore/detail/skrolla/lndjhdmobnnnpnpnhkiephiefailnaon" title="Download the Skrolla Chrome extension">Chrome extension</a>.</p>
			
			<p>Unfortunately, any domains with CORS / same-origin restrictions are going to fail (pretty much everything from google & github).</p>

			<p>The proof of concept was a fun hack using <a href="https://github.com/tomgco/gyro.js" title = "gyro.js" target="_blank">gyro.js</a> for <a href="http://gitat.me/2013/10/10/Tilt-O-Scroll.html" title = "issue 6 of Git@Me" target="_blank">Git@Me</a>. Later, I incorporated <a href="https://github.com/shokai/xframe.js" title="xframe.js" target="_blank">xframe.js</a> to control scrolling in the embedded iframe.</p>
			
			<p>I'm still working on the code and I'd love to get your <a href="mailto:me@nealshyam.com?subject=skrolla" title = "send me your feedback" target="_blank">feedback</a>. Thanks!</p> 
			
			<p>Skrolla is built with Flask, Python, Bootstrap, Font Awesome, Firebase, JavaScript, OAuth, jQuery, and very little sleep.</p>

		</div>
	</div>

	<div class = "row">
		<div class="span8 offset2" >
			&copy; 2014 <a href="http://nealshyam.com">Neal Shyam</a>
		</div>
	</div> 
</body>
<html>