<html>
<head>
	<title>Skrolla</title>
	
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">  
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.2/firebase.js'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='ready.js') }}"></script>
	<script src="{{url_for('static', filename='fb.js') }}"></script>
		
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	
	<script> 	// for users that aren't logged in, let's log their activity as "anon"
		var authorizedUser = 'anon'; 
	</script>
</head>

<body style = "margin:auto; background-color:#F2F2F2;">
	<div class = "row ">
		<div class="span8 offset2" >
			<h4 style="color:#7D0552;">Skrolla <a style="text-decoration:none;" href="{{ url_for('about') }}">&nbsp;<button class="btn btn-small pull-right"><i class="fa fa-fw fa-question-circle"></i> About</button></a></h4>
		</div>
	</div>
	
	<div class = "row ">
		<div class="span4 offset2">
			<p>Scroll by tilting your phone. <a href="{{ url_for('about') }}" target="_blank" title = "Learn more about Skrolla">Learn more.</a></p>
			<img class ="hidden-phone" src="http://gam.s3.amazonaws.com/img/issue_6_fig_1.png">
		</div>
		
		<div class="span4 ">
			<p><a style="text-decoration:none;" href="{{ url_for('login') }}"><button class="btn btn-primary btn-block"><i class="fa fa-fw fa-twitter"></i> Sign in with Twitter</button></a><p>
		
			<p><strong>Test drive Skrolla on your favorite site:</strong></p>
				<input class = "input-block-level geturl" type="url" id = "url" placeholder="http://disney.com">
	
			</div>
	</div>

	<div class = "row">
		<div class="span8 offset2" >
			&copy; 2014 <a href="http://nealshyam.com">Neal Shyam</a>
		</div>
	</div> 
</body>
<html>