<html>
<head>
	<title>Skrolla</title>
	
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">  
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>

<body style = "margin:auto; background-color:#F2F2F2;">
	<div class = "row ">
		<div class="span8 offset2" >
			<h4 style="color:#7D0552;">Skrolla</h4>
		</div>
	</div>

	<div class = "row ">
		<div class="span8 offset2">
			<form action="/sms/" method=POST>
				<span class="help-block">Enter URL:</span>
				<input class = "input-block-level" type="text" id = "url" name ="url" placeholder="http://disney.com">
				
				<span class="help-block">Enter phone number:</span>
				<input class = "input-block-level" type="text" id = "to" name ="to" placeholder="XXX.XXX.XXXX">
	
				<button type="submit" class="btn btn-primary btn-block">Send to phone</button>
			</form>
		</div>
	</div>

	<div class = "row">
		<div class="span8 offset2" >
			&copy; 2013 <!--<a href="http://skrol.la">Skrolla</a> & --><a href="http://neal.rs">Neal Shyam</a>
		</div>
	</div> 
</body>
<html>