<html>
<head>
	<title>Skrolla - a mobile optimized reading experience</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script src="{{url_for('static', filename='gyro.min.js') }}"></script>
	<script src="{{url_for('static', filename='main.js') }}"></script>
	<script src="{{url_for('static', filename='xframe.min.js') }}"></script>
	<link href="{{url_for('static', filename='main.css') }}" rel="stylesheet">
	
	<script type="text/javascript">url = "http://{{ path }}";</script>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>

<body>
	<div class = "sHead">
		<div class="options">
			<span class="pointer active"><a href="mailto:nealrs@gmail.com?subject=Skrolla" class="" title="About Skrolla">Skrolla</a></span>&nbsp; 
			<span class="pointer active" id="share" onclick="share()"><i class="fa fa-retweet fa-fw"></i>&nbsp;Share</span>&nbsp; 
			<span class="pointer active" id="scrollOn" onclick="disableScroll()"><span id="sIndicator"></span>&nbsp;Scroll</span>
			<span class="pointer inactive" id="scrollOff" onclick="enableScroll()"><i class='fa fa-power-off fa-fw'></i>&nbsp;Scroll</span>
			<span class="pointer active" id="exit" onclick="exitTS()">&nbsp;<i class='fa fa-times fa-fw'></i>&nbsp;Exit</a></span>&nbsp;
		</div>
		<div class="socialrail">
			<span class="pointer active" onclick="tshare()"><i class="fa fa-twitter fa-fw"></i></span>&nbsp; &nbsp; 
			<span class="pointer active" onclick="fshare()"><i class="fa fa-facebook fa-fw"></i></span>&nbsp; &nbsp;
			<span class="pointer active" onclick="gshare()"><i class="fa fa-google-plus fa-fw"></i></span>&nbsp; &nbsp;
			<span class="pointer active" onclick="lshare()"><i class="fa fa-linkedin fa-fw"></i></span>&nbsp; &nbsp;
			<span class="pointer active" onclick="eshare()"><i class="fa fa-envelope fa-fw"></i></span>
		</div>
	</div>
	<div id="frame"></div>	
</body>
</html>
